<!DOCTYPE html>

<html lang="ko">

<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">
    <script th:src="@{/bootstrap.min.js}"></script>
   <script th:src="@{/bootstrap.bundle.min.js}"></script>
    <!--Bootatrap CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

    <title>일기장 프로그램</title>


</head>




<nav th:replace="~{navbar :: navbarFragment}"></nav>



<th:block layout:fragment="content"></th:block>


<!--드랍다운 사용-->

<!--자바 스트립트
<script th:src="@{/mix.js}"></script>
-->
<!--네비게이션-->

</body>
</html>
