<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

   <div class="d-flex justify-content-evenly">

       <!--민정 페이지-->
<div class="card border-primary mb-3" style="max-width: 18rem;">

    <div class="card-header">민정꺼</div>

    <div class="card-body text-primary">
        <a th:href="@{/notice/list}">
        <img th:src="@{/common.jpeg}"class="card-img-top">
</a>
        <h5 class="card-title">공지사항</h5>
        <p class="card-text">dsadas</p>
    </div>
</div>

       <!--찬호페이지-->
    <div class="card border-primary mb-3" style="max-width: 18rem;">

        <div class="card-header">찬호꺼</div>

        <div class="card-body text-primary">
            <a th:href="@{/diary/main}">
                <img th:src="@{/common.jpeg}"class="card-img-top">
            </a>
            <h5 class="card-title">일기장</h5>
            <p class="card-text"></p>
        </div>
    </div>


<!--승용페이지-->
       <div class="card border-primary mb-3" style="max-width: 18rem;">

           <div class="card-header">승용</div>

           <div class="card-body text-primary">
               <a th:href="@{/diary/main}">
                   <img th:src="@{/common.jpeg}"class="card-img-top">
               </a>
               <h5 class="card-title">미정</h5>
               <p class="card-text"></p>
           </div>
       </div>


<!--찬혁페이지-->
       <div class="card border-primary mb-3" style="max-width: 18rem;">

           <div class="card-header">찬혁</div>

           <div class="card-body text-primary">
               <a th:href="@{/diary/main}">
                   <img th:src="@{/common.jpeg}"class="card-img-top">
               </a>
               <h5 class="card-title">미정</h5>
               <p class="card-text"></p>
           </div>
       </div>


<!--상후페이지-->
       <div class="card border-primary mb-3" style="max-width: 18rem;">

           <div class="card-header">상후</div>

           <div class="card-body text-primary">
               <a th:href="@{/diary/main}">
                   <img th:src="@{/common.jpeg}"class="card-img-top">
               </a>
               <h5 class="card-title">미정</h5>
               <p class="card-text"></p>
           </div>
       </div>


   </div>

</div>
</html>

