<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">



   <div class="d-flex justify-content-evenly">

       <!--민정 페이지-->
<div class="card border-primary mb-3" style="max-width: 18rem;">

    <div class="card-header">민정꺼</div>

    <div class="card-body text-primary">
        <a th:href="@{/notice/list}">
        <img th:src="@{/common.jpeg}"class="card-img-top">
</a>
        <h5 class="card-title">공지사항</h5>
        <p class="card-text">admin일때만 글쓰기가 가능하게 만든 게시판입니다.</p>
    </div>
</div>

       <!--찬호페이지-->
    <div class="card border-primary mb-3" style="max-width: 18rem;">

        <div class="card-header">찬호꺼</div>

        <div class="card-body text-primary">
            <a th:href="@{/diary/main}">
                <img th:src="@{/common.jpeg}"class="card-img-top">
            </a>
            <h5 class="card-title">일기장</h5>
            <p class="card-text">일기쓰는 게시판을 만들었습니다.</p>
        </div>
    </div>


<!--승용페이지-->
       <div class="card border-primary mb-3" style="max-width: 18rem;">

           <div class="card-header">승용</div>

           <div class="card-body text-primary">
               <a th:href="@{/question/list}">
                   <img th:src="@{/common.jpeg}"class="card-img-top">
               </a>
               <h5 class="card-title">게시판</h5>
               <p class="card-text">파일을 업로드 할 수 있는 게시판입니다.</p>
           </div>
       </div>


<!--찬혁페이지-->
       <div class="card border-primary mb-3" style="max-width: 18rem;">

           <div class="card-header">찬혁</div>

           <div class="card-body text-primary">
               <a th:href="@{/kquestion/list}">
                   <img th:src="@{/common.jpeg}"class="card-img-top">
               </a>
               <h5 class="card-title">찬혁</h5>
               <p class="card-text">수정,삭제,추천 기능이 들어간 게시판입니다.</p>
           </div>
       </div>


<!--상후페이지-->
       <div class="card border-primary mb-3" style="max-width: 18rem;">

           <div class="card-header">상후</div>

           <div class="card-body text-primary">
               <a th:href="@{/inQuestion/list}">
                   <img th:src="@{/common.jpeg}"class="card-img-top">
               </a>
               <h5 class="card-title">상후</h5>
               <p class="card-text">수정,삭제,추천 기능이 들어간 게시판입니다.</p>
           </div>
       </div>


   </div>

</div>
</html>

